/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.denisdums-bannerblock-remove-image {
	position: absolute;
	top: .5rem;
	right: .5rem;
	z-index: 2;
}
